.job-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.job-detail {
  padding: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin: 10px 0;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.bookmark-button {
 
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

.bookmark-button:hover {
  background-color: #21867a;
}
